@charset "UTF-8";
@media only screen and (max-width: 1200px) {
  .bookmaker {
    padding: 0 14px !important;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gotham Pro";
  background: #F0F1F2;
}

input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

._container {
  width: 90%;
  margin: 0 auto;
}

.content {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__book {
  margin-bottom: 88px;
}
.content__title {
  margin-bottom: 23px;
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: left;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.bookmakers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 23px;
}
.bookmakers__item {
  display: block;
  min-height: 71px;
  max-height: 71px;
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bookmakers__item:not(:last-child) {
  margin-bottom: 16px;
}

.more {
  padding: 12px 0;
  width: 178px;
  margin: 0 auto;
  border: 1px solid #DADADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #191925;
  display: block;
}
.more span {
  display: inherit;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.bookmaker {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 34px;
}
.bookmaker__number {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #3E3B4A;
  margin-right: 2.4vw;
}
.bookmaker__logo {
  margin-right: 1.6vw;
}
.bookmaker__logo img {
  width: 107px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bookmaker__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #33312C;
  margin-right: 3.5vw;
}
.bookmaker__stars {
  margin-right: 3.9vw;
}
.bookmaker__cost {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #33312C;
}
.bookmaker__cost::before {
  content: "";
  display: inline-block;
  margin-right: 0.9vw;
  width: 19px;
  height: 19px;
  background: url("../img/gift.png") no-repeat 50%;
  background-size: cover;
}
.bookmaker__buttons {
  margin-left: auto;
  display: inline-block;
}
.bookmaker__buttons a:not(:last-child) {
  margin-right: 1.4vw;
}
.bookmaker__review {
  padding: 9px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #191925;
  border: 1px solid #67BC6D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.bookmaker__review span {
  font-weight: bold;
}
.bookmaker__overview {
  padding: 9px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #191925;
  border: 1px solid #DADADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.bookmaker__site {
  padding: 9px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #E2455A;
  border-radius: 5px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rating__item {
  width: 21px;
  height: 21px;
  background: url("../img/greyStar.png") no-repeat 50%;
  background-size: cover;
  margin-right: 0.5vw;
}

.active-star {
  width: 21px;
  height: 21px;
  background: url("../img/activeStar.png") no-repeat 50%;
  background-size: cover;
  margin-right: 0.5vw;
}

.cells {
  width: 100%;
  margin-bottom: 23px;
}
.cells__header {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cells__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cells__menu li {
  display: inline-block;
}
.cells__menu li:not(:last-child) {
  margin-right: 13px;
}
.cells__menu li a {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #7A798A;
}
.cells__menu li a:hover {
  color: #5A3EC4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.cells__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 15px 4fr;
  grid-template-columns: 8fr 4fr;
  grid-column-gap: 15px;
}
.cells__cards {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 13px 6fr;
  grid-template-columns: 6fr 6fr;
  grid-gap: 13px;
}
.cells__card {
  width: 100%;
}
.cells__banner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background: red;
  border-radius: 12px;
  background: url("../img/fon.png") no-repeat;
  background-size: 100% 100%;
}

.active-menu {
  color: #5A3EC4 !important;
}

.card {
  height: inherit;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 39px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 12px 39px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 16px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__meta {
  float: left;
  font-size: 11px;
  line-height: 24px;
  color: #5A3EC4;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 14px;
}
.card__forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #F5F5F6;
}
.card__caper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__caper img {
  width: 38px;
  height: 38px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.card__caper span {
  font-size: 14px;
  line-height: 24px;
  color: #C1C0CD;
}
.card__ratio span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #403E51;
}
.card__ratio span:after {
  content: "коэфициент";
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  color: #C1C0CD;
}
.card__teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.card__firstTeam, .card__secondTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__firstTeam img, .card__secondTeam img {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__firstTeam span, .card__secondTeam span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #403E51;
}
.card__firstTeam img {
  margin-right: 9px;
}
.card__secondTeam img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.card__secondTeam span {
  margin-right: 9px;
}
.card__timetable {
  text-align: center;
}
.card__date {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #C1C0CD;
}
.card__time {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #403E51;
}